<STYLE type="text/css">
<!--

BODY TD {
  font-size         : 10pt;
}

TABLE {
  border-collapse   : collapse;
}

IMG {
  border            : none;
}

UL {
  line-height       : 1.6em;
}

.maintitle1 {
  font-size         : 15pt;
  font-weight       : bold;
  color             : #ffffff;
  background        : #774400;
  padding           : 5px 5px 5px 5px;
  border-bottom     : 1px solid #ffffff;
}

.maintitle2 {
  color		    	: #ffffff;

  border-bottom     : 1px solid #ffffff;
  text-align        : right;
}

.title {
  font-size         : 11pt;
  font-weight       : bold;
  padding           : 00 0 0;}

.maincontents {
  font-size         : 10pt;
  background        : #ffffcc;
  padding           : 0 18px 0 18px;
}

.maincontents IMG {
  margin            : 3px;
}

.list TH {
  font-size         : 9pt;
  background        : #aaeeaa;
  border            : 1px solid #666666;
  padding           : 4px;
}

.list TD {
  font-size         : 9pt;
  border            : 1px solid #666666;
  padding           : 4px;
  vertical-align    : top;
}

.pagenavi {
  text-align	    : right;
}

.formtable {
  margin-left       : 20px;
}

.formtable TH {
  font-size         : 11pt;
  background        : #ffffdd;
  border            : 1px solid #666666;
  padding           : 3px;
}

.formtable TD {
  font-size         : 11pt;
  border            : 1px solid #666666;
  padding           : 3px;
}

.largefont {
  font-size         : 18pt;
  font-weight       : bold;
}

.empfont {
  font-size         : 10pt;
  font-weight       : bold;
}

.smallfont {
  font-size         : 8pt;
  font-weight       : normal;
}
.expfont {
  font-size         : 10pt;
  color				: #3333ff;
}
-->
</STYLE>
